fire
parse
loguru
easydict
omegaconf

tqdm
plotly
seaborn
notifiers
ipywidgets
livelossplot
notebook
nbclassic
jupyterlab

lxml
pyyaml
openpyxl
jsonlines
urlextract
unstructured

nltk
jieba
opencc
pydicom
simpleitk
pycocotools
scikit-image
opencv-python
albumentations
imageio[ffmpeg]

xgboost
catboost
lightgbm
scikit-learn
imbalanced-learn

torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2

monai
kornia
torchio
grad-cam
lightning
torchmetrics
pytorch-metric-learning

timm
gradio
datasets
diffusers
transformers
open_clip_torch

vllm
numba
xformers
bitsandbytes

trl
peft
llmtuner
deepspeed

pynvml
torchinfo
cupy-cuda12x

openai
modelscope
unstructured[all-docs]

git+https://github.com/randydl/pyforest.git
git+https://github.com/facebookresearch/segment-anything.git
flash_attn-2.5.7+cu122torch2.1cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
